# Server Configuration
PORT=3001
NODE_ENV=development

# Database Configuration (Supabase PostgreSQL)
DB_HOST=localhost
DB_PORT=5433
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=5+NMkUPabjFbh5vGZtWx5ea0QAX2NSR3G1k0sfAedms=

# For remote connection from outside the server
# DB_HOST=195.26.226.37
